.settings
.cache
src/shotgunEvents/_version.py
.metadata
.project
*.py[co]
*.swp
/*-optimize
/*-debug
/config.mak
/doc
/.release.txt
docs/_build
*~
*#
.#*
.coverage
.DS_Store
*.tags
.noseids
.thumbnails
nosetests.xml
coverage.xml
prodman*.pkg
cert8.db
key3.db
secmod.db
pylint.txt
.pydevproject
rpmbuild
